<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>432603108078-mpb1iak9pd6vi97ar3th59u0q8blkhri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432603108078-mpb1iak9pd6vi97ar3th59u0q8blkhri</string>
	<key>API_KEY</key>
	<string>AIzaSyDTtGW5h8jwfNXS5nNAHygxcuw14bhoOyo</string>
	<key>GCM_SENDER_ID</key>
	<string>432603108078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.llamamonkey.timesheetsMobile</string>
	<key>PROJECT_ID</key>
	<string>timesheets-llamamonkey</string>
	<key>STORAGE_BUCKET</key>
	<string>timesheets-llamamonkey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:432603108078:ios:0e26c73bae57183e</string>
	<key>DATABASE_URL</key>
	<string>https://timesheets-llamamonkey.firebaseio.com</string>
</dict>
</plist>